<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
<section>
 <div class="container">
    <div class="row" style="color:white; margin-top:150px">
      <div class="col-md-6">
        <h1>About Us</h1>
        <p>We are a team of passionate professionals who are dedicated to providing our customers with the best possible experience. We believe that every customer deserves to be treated with respect and care, and we strive to exceed their expectations every time.</p>
        <p>We offer a wide range of services, including:</p>
        <ul>
          <li>Web design and development</li>
          <li>Graphic design</li>
          <li>Digital marketing</li>
          <li>SEO</li>
          <li>E-commerce</li>
        </ul>
        <p>We are confident that we can help you achieve your business goals. Contact us today to learn more about what we can do for you.</p>
      </div>
      <div class="col-md-6">
        <img src="https://plus.unsplash.com/premium_photo-1661542964179-3cb9448da55a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bW9iaWxlJTIwc3RvcmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60" alt="About Us Image">
      </div>
    </div>
  </div>
</section>
</body>
</html>